- content_for(:title) { "Users" }

.users.index
  %h2 Users
  = link_to("Add New User", new_user_path, :class => 'action new')
  %table.listing{:summary => "User list"}
    %tr.header
      %th Name
      %th Email
      %th Actions
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.email
        %td.actions
          = link_to("Show", user_path(user), :class => 'action show')
          = link_to("Edit", edit_user_path(user), :class => 'action edit')
          = link_to("Delete", delete_user_path(user), :class => 'action delete')