= error_messages_for(f.object)
%table{:summary => "Page form fields"}
  %tr
    %th Subject ID
    %td= f.select(:subject_id, Subject.all.map {|s| [s.name, s.id]})
  %tr
    %th Name
    %td= f.text_field(:name)
  %tr
    %th Permalink
    %td= f.text_field(:permalink)
  %tr
    %th Position
    - count = Page.count + (f.object.new_record? ? 1 : 0)
    %td= f.select(:position, 1..count)
  %tr
    %th Visible
    %td= f.check_box(:visible)
  %tr
    %th Content
    %td= f.text_area(:content, :rows => 10, :cols => 60)