= error_messages_for(f.object)

%table{:summary => "Subject form fields"}
  %tr
    %th Name
    %td= f.text_field(:name)
  %tr
    %th Position
    - count = Subject.count + (f.object.new_record? ? 1 : 0)
    %td= f.select(:position, 1..count)
  %tr
    %th Visible
    %td
      = f.radio_button(:visible, '1')
      Yes
      = f.radio_button(:visible, '0')
      No