- content_for(:title) { 'Subjects' }

.subjects.index
  %h2 Subjects
  = link_to("Add New Subject", new_subject_path, :class => 'action new')
  %table.listing{:summary => "Subject list"}
    %tr.header
      %th #
      %th Subject
      %th Visible
      %th Pages
      %th Actions
    - @subjects.each do |subject|
      %tr
        %td= subject.position
        %td= subject.name
        %td.center= status_tag(subject.visible)
        %td.center= subject.pages.size
        %td.actions
          = link_to("Show", subject_path(subject), :class => 'action show')
          = link_to("Edit", edit_subject_path(subject), :class => 'action edit')
          = link_to("Delete", delete_subject_path(subject), :class => 'action delete')